.home{
    width: 100vw;
    height: fit-content;
    .hero{
        display: flex;
        height: 80vh;
        
        
        .hero-content{
            
            width: 60%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 25px;

            height: 80vh;
      
            h1{
                font-family: $bree;
                font-weight:100;
                font-size: 4rem;
                
            }
            h2{
                font-family: $poppins;
                font-weight: 500;
                width: 70%;
            }
        }
        .hero-image{
            width: 50%;
            height: 80vh;

        
        }
        .proof{
            display: flex;
            gap: 3%;
            div{
                width: 20%;
                padding: 5px;
                border: 2px solid $mylightblue;
                border-radius: 10px;
                display: flex;
                flex-direction: column;
                align-items: center;
                
                p{
                    color: $mylightblue;
                    text-align: center;
                }
            }
        }
    }
    .choose{
        background-color: white;
        padding:80px;
        border-top-left-radius: 30px;
        border-top-right-radius: 30px;
        padding-top: 15vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        gap: 40px;

        .title {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 5vh;
            width: 100%;
            font-family: $bree;
            font-weight: 100;
            
            
            hr {
                flex-grow: 1; 
                margin: 0;
                box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
                border: none;
                height: 4px;
                background: linear-gradient(to right, $myblue, lighten($myblue, 20%));
                border: none;

            }
        
            h2 {
                font-weight: 100;
                width: 40%;
                font-size: 2.5rem;
                
            }
        }
        .qualities{
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            row-gap: 30px;
            margin-left: 12%;
            margin-right: 12%;
            justify-content: space-between;
            .quality{
                width: 40%;
                margin-top: 30px;
                img{
                    width: 62px;
                }
                .quality-content{
                    h3{
                        font-size: 1.8rem;
                        font-family: $bree;
                        font-weight: 100;
                        padding-bottom: 10px;
                    }
                    p{
                        font-size: 1.3rem;
                        font-family: $poppins;
                      
                    }
                }
            }
        }
        
    }
    .services{
        background-color: $myblue;
        color: white;
        padding-top: 40px;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-bottom: 40px;
        h2{
            font-size: 3rem;
            font-family: $bree;
            font-weight: 100;
        }
        hr{
            flex-grow: 1;
            width: 100%;
            display: block;
            margin-top:20px ;
            margin-bottom: 30px;
            height: 4px;
            background-color: white;
            border: none;
        }
        .service-wrap{
            gap: 30px;
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            margin-left: 12%;
            margin-right: 12%;
            justify-content: space-between;
            
            .service{
                width: 45%;
               background-color: white;
               color: $myblue;
               border-radius: 15px;
               display: flex;
               flex-direction: column;
               gap: 20px;
               padding: 20px;
               height: 30vh;
               h3{
                font-size: 1.8rem;
                font-family:$bree;
                font-weight: 100;
               }
               p{
                font-family: $poppins;
                font-size: 1.3rem;
               }
            }
        }
    }
}

/* Mobile Portrait */
@media (max-width: 410px) {
    .home{
        
        .hero{
            flex-direction: column-reverse;
            height: fit-content;
            width: 100%;
            height: 560px;
            .hero-content{
                width: 100%;
                h1{
                    font-size: 1.8rem;
                    padding-left: 2%;
                    padding-right: 2%;
                    text-align: center;
                    padding-top: 20px;
                }
                h2{
                    font-size: 1.3rem;
                    width: 100%;
                    text-align: center;
                    padding-left: 3%;
                    padding-right: 3%;
                }
                button{
                    margin: auto;
                    width: 85%;
                    font-size: 0.8rem;
                }

            }
            .hero-image{
                width: 100%;
                height: 70vh;
                justify-self: flex-start;

            }
        }
        .choose{
            padding: 40px;
            margin-top: 5vh;
            gap: 20px;
            justify-content: center;
            align-items: center;

            .title{
                h2{
                    font-size: 1.5rem;
                    width: 100%;
                    text-align: center;
                  
                }
                hr{
                    display: none;
                }
            }
            .qualities{
                flex-direction: column;
                align-items: center;
                gap: 10px;
                justify-content: center;
                margin-top: 10px;
                
                .quality{
                    
                    width: 100%;
                    gap: 2%;
                    margin-top: 20px;
                    
                    
                    img{
                        width: 32px;
                    }
                    .quality-content{
                        width: 100%;
                        h3{
                            font-size: 1.3rem;
                            width: 100%;
                            padding-bottom: 10px;
                            
                        }
                        p{
                            font-size: 1rem;
                            width: 90%;
                      
                        }
                    }
                }
            }
            button{
                font-size: 0.8rem;
                margin-top: 20px;
            }
        }

        .services{
            h2{
                font-size: 1.5rem;

            }
            .service-wrap{
                justify-content: center;
                align-items: center;
                .service{
                    width: 95%;
                    height: fit-content;
                    padding: auto;
                    h3{
                        font-size: 1.3rem;
                        width: 100%;
                    }
                    p{
                        font-size: 1rem;
                        width: 100%;
                    }
                }
            }
        }
    }
    
}

@media (min-width: 411px) and (max-width: 540px) {

    .home{
        margin-top: 4vh;
        .hero{
            flex-direction: column-reverse;
            height: fit-content;
            width: 100%;
            height: 600px;
            .hero-content{
                width: 100%;
                h1{
                    font-size: 2rem;
                    padding-left: 8%;
                    padding-right: 8%;
                    text-align: center;
                    padding-top: 20px;
                }
                h2{
                    font-size: 1.5rem;
                    width: 100%;
                    text-align: center;
                    padding-left: 5%;
                    padding-right: 5%;
                    
                }
                button{
                    margin: auto;
                    width: 85%;
                    font-size: 1rem;
                }

            }
            .hero-image{
                width: 100%;
                height: 90vh;
                justify-self: flex-start;

            }
        }
        .choose{
            padding: 30px;
            margin-top: 10vh;
            .title{
                h2{
                    font-size: 1.5rem;
                    width: 88%;
                    text-align: center;
                  
                }
                hr{
                    display: none;
                }
            }
            .qualities{
                flex-direction: column;
                align-items: center;
                gap: 10px;
                .quality{
                    
                    width: 100%;
                    gap: 2%;
                    margin-top: 20px;
                    padding-left: 10%;
                    img{
                        width: 32px;
                    }
                    .quality-content{
                        width: 100%;
                        h3{
                            font-size: 1.3rem;
                            width: 100%;
                            padding-bottom: 10px;
                            
                        }
                        p{
                            font-size: 1rem;
                            width: 90%;
                            
                        }
                    }
                }
            }
            button{
                font-size: 1rem;
            }
        }
        .services{
            h2{
                font-size: 1.5rem;

            }
            .service-wrap{
                justify-content: center;
                align-items: center;
                .service{
                    width: 95%;
                    height: fit-content;
                    padding: auto;
                    h3{
                        font-size: 1.3rem;
                        width: 100%;
                    }
                    p{
                        font-size: 1rem;
                        width: 100%;
                    }
                }
            }
        }
        
    }
    

}

@media (min-width: 541px) and (max-width: 620px) {
    .home{
        margin-top: 16vh;
        
        
      
        .hero{
            flex-direction: column-reverse;
            height: fit-content;
            width: 100%;
            height: 600px;
         
            padding-left: 0;
            margin-right: 0;
            .hero-content{
                width: 100%;
                h1{
                    font-size: 2.5rem;
                    padding-left: 8%;
                    padding-right: 8%;
              
                    text-align: center;
                    padding-top: 20px;
                }
                h2{
                    font-size: 1.8rem;
                    width: 90%;
                    text-align: center;
                    padding-left: 5%;
                    padding-right: 5%;
                    margin: auto;
                    
                }
                button{
                    margin: auto;
                    width: 64%;
                    font-size: 1rem;
                }

            }
            .hero-image{
                width: 90%;
                height: 90vh;
                margin: auto;
                justify-self: flex-start;

            }
        }
        .choose{
            padding: 30px;
            margin-top: 10vh;
            .title{
                h2{
                    font-size: 1.8rem;
                    width: 88%;
                    text-align: center;
                  
                }
                hr{
                    display: none;
                }
            }
            .qualities{
                flex-direction: column;
                align-items: center;
                gap: 10px;
                .quality{
                    
                    width: 100%;
                    gap: 2%;
                    margin-top: 20px;
                    padding-left: 10%;
                    img{
                        width: 62px;
                    }
                    .quality-content{
                        width: 100%;
                        h3{
                            font-size: 1.5rem;
                            width: 100%;
                            padding-bottom: 10px;
                            
                        }
                        p{
                            font-size: 1.3rem;
                            width: 90%;
                           
                        }
                    }
                }
            }
            button{
                font-size: 1rem;
            }
        }
        .services{
            h2{
                font-size: 1.8rem;

            }
            .service-wrap{
                justify-content: center;
                align-items: center;
                .service{
                    width: 95%;
                    height: fit-content;
                    padding: auto;
                    h3{
                        font-size: 1.5rem;
                        width: 100%;
                    }
                    p{
                        font-size: 1.3rem;
                        width: 100%;
                    }
                }
            }
        }
        
    }
}

@media (min-width: 621px) and (max-width: 768px) {
    .home{
        margin-top: 24vh;

        .hero{
            flex-direction: column-reverse;
            height: fit-content;
            width: 100%;
            height: 600px;
         
            padding-left: 0;
            margin-right: 0;
            .hero-content{
                width: 100%;
                h1{
                    font-size: 2.5rem;
                    padding-left: 8%;
                    padding-right: 8%;
              
                    text-align: center;
                    padding-top: 20px;
                }
                h2{
                    font-size: 1.8rem;
                    width: 90%;
                    text-align: center;
                    padding-left: 5%;
                    padding-right: 5%;
                    margin: auto;
                    
                }
                button{
                    margin: auto;
                    width: 50%;
                    font-size: 1rem;
                }

            }
            .hero-image{
                width: 75%;
                height: 100vh;
                margin: auto;
                justify-self: flex-start;

            }
        }
        .choose{
            padding: 30px;
            margin-top: 10vh;
            .title{
                h2{
                    font-size: 1.8rem;
                    width: 88%;
                    text-align: center;
                  
                }
                hr{
                    display: none;
                }
            }
            .qualities{
                flex-direction: column;
                align-items: center;
                gap: 10px;
                .quality{
                    
                    width: 100%;
                    gap: 2%;
                    margin-top: 20px;
                    padding-left: 10%;
                    img{
                        width: 62px;
                    }
                    .quality-content{
                        width: 100%;
                        h3{
                            font-size: 1.5rem;
                            width: 100%;
                            padding-bottom: 10px;
                            
                        }
                        p{
                            font-size: 1.3rem;
                            width: 90%;
                            
                        }
                    }
                }
            }
            button{
                font-size: 1rem;
            }
        }
        .services{
            h2{
                font-size: 1.8rem;

            }
            .service-wrap{
                justify-content: center;
                align-items: center;
                .service{
                    width: 95%;
                    height: fit-content;
                    padding: auto;
                    h3{
                        font-size: 1.5rem;
                        width: 100%;
                    }
                    p{
                        font-size: 1.3rem;
                        width: 100%;
                    }
                }
            }
        }
        
    }
}
@media (min-width: 769px) and (max-width: 1200px) {
    .home{
        .hero{
            .hero-content{
                h1{
                    font-size: 2.3rem;
                }
                h2{
                    font-size: 1.3rem;
                    width: 90%;
                }
                button{
                    width: 320px;
                    font-size: 1rem;
                }
             
            }
        }
        .choose{
            padding-left: 5vw;
            padding-right: 5vw;
            .title{
                h2{
                    font-size: 1.8rem;
                    width: 45%;
                }
            }
            .qualities{
                .quality{
                    .quality-content{
                        h3{
                            font-size: 1.5rem;
                            padding-bottom: 10px;
                        }
                        p{
                            font-size: 1.3rem;
                        }
                    }
                }
            }
        }
        .services{
            h2{
                font-size: 1.8rem;
            }
            .service-wrap{
               .service{
                height: 80vh;
                justify-content: center;
                h3{
                    font-size: 1.5rem;
                    
                }
                p{
                    font-size: 1.3rem;
                    
                }
               }
             
            }
        }
    }
   
    
}


